<% include partials/header %>

<h1>Welcome to Computer Geeks!</h1>

<style>
    h1 { 
    color: #111; font-family: 'Helvetica Neue', sans-serif; 
    font-size: 68px; font-weight: bold; letter-spacing: -1px; 
    line-height: 1; text-align: center; 
    padding-top: -20px;
    }
    
    p {
    color: #111; font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px; font-weight: bold; letter-spacing: -1px;
    line-height: 1; text-align: center;
    }
    
    #view {
    color: grey; font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px; font-weight: bold; letter-spacing: -1px;
    line-height: 1; 
    }
</style>

<!-- <body background="https://cdn-images-1.medium.com/max/2000/1*oEaJrN3Yc0-pHAa06NNrDQ.png"> -->

<p>Share your gaming PC build with other users!</p>

<div align="center">
<a id="view" href="/computers">View all available PC configurations</a>
</div>

<div id="info" class="container-fluid">
<li>Website created by Abay Akturin</li>
<li><strong>Email:</strong> abayakturin@gmail.com</li>
<li><a href="https://www.linkedin.com/in/abay-akturin-9b2253ba/">LinkedIn</a></li>
</div>

<% include partials/footer %>