.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

body {
    background-color: white;
    background-size: cover;
    background-position: center;
}

html {
	height: 100%;
}

#info{
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 18px;
}